* {
	font-family: 'Segoe UI', Arial, 'Microsoft Yahei', Simsun, sans-serif;
}

body {
	text-align: center;
}

#main {
	width: 560px;
	margin-left: auto;
	margin-right: auto;
}

#caption {
	position: relative;
	text-align: left;
	padding: 0 5px;
}

h1, h2, h3, h4, h5 {
	display: inline-block;
	margin: 0;
	padding: 8px 0;
}

#source {
	position: absolute;
	right: 5px;
	top: 3px;
}

.combo-button {
	height: 20px;
	line-height: 14px;
}

.combo-button > .label {
	height: 20px;
	line-height: 18px;
	font-size: 14px;
}

#source .label {
	width: 250px;
	max-width: 250px;
}

#source .dropdown-menu {
	width: 100%;
}

.dropdown-menu {
	max-height: 200px;
}

.combo-button {
	background-color: #FD0;
}

.dropdown-menu > li {
	height: 18px;
	line-height: 18px;
	font-size: 13px;
}

.dropdown-menu > li > .icon-16 {
	top: 0px;
	left: 6px;
}

.icon-16 > .label {
	top: 1px;
}

li.ui-state-focus {
	background-color: #eee;
}

.currency > .label, .amount > .label {
	padding-left: 38px;
	height: 24px;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid;
}

.currency > .label {
	width: 90px;
	font-family: Consolas;
	font-size: 14px;
}

.amount > .label {
	width: 200px;
	text-align: right;
	padding-right: 28px;
	border-color: #444;
}

li.currency {
	padding-left: 38px;
}

.click-to-popup-menu > .dropdown-menu > li:hover {
	background-color: #eee;
}

.ui-helper-hidden-accessible {
	display: none;
}

.currency > .icon, .amount > .icon {
	width: 28px;
}

.currency > .icon > span, .amount > .icon > span {
	width: auto;
}

.currency > .icon-16 > img {
	width: 24px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.amount > .submit {
	position: absolute;
	visibility: hidden;
	right: -100;
	bottom: -100;
	z-index: -100;
}

.search {
	background-color: #444;
	position: absolute;
	display: block;
	right: 1px;
	bottom: 1px;

	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	padding: 2px 3px 2px 5px;
	cursor: pointer;
}

.toBox {
	text-align: left;
	margin: 5px 1px;
}

.toBox .combo-box {
	padding-left: auto;
	padding-right: auto;
}

.row {
	position: relative;
	display: block;
	text-align: left;
	vertical-align: middle;

	padding: 2px;
	margin: 0;
	border: 1px solid #FD0;
	font-size: 13px;
	line-height: 18px;
	word-spacing: -.5em;
}

.row.disabled, .row.available, .row.disabled * {
	color: #ccc;
	cursor: default;
}

.row.available .combo-box {
	color: #666;
	cursor: pointer;
}

.row > * {
	display: inline-block;
	text-align: center;
	word-spacing: 0;
	margin: 8px 0;
}

.row > .index {
	width: 30px;
	text-align: right;
	padding: 0 5px;
	font-style: italic;
}

.row > .currency {
	position: relative;
	width: 100px;
	margin: 0;
	vertical-align: top;
}

.row > .currency > .combo-box {
	top: 5px;
}

.row > .rate {
	width: 120px;
}

.row > .amount, .row > .Back {
	width: 130px;
}

.currency b {
	font-family: Consolas;
	font-size: 14px;
}

.header {
	font-weight: bold;
	background-color: #FD0;
	margin: 0;
	padding: 0 2px;
	height: 24px;
	line-height: 24px;
}

.header > * {
	text-align: center;
	margin: 0;
	color: black;
}

.header > .index {
	text-align: center;
	border-right: 1px solid #FC0;
}

.header > .rate, .header > .Back {
	border-left: 1px solid #FC0;
	border-right: 1px solid #FC0;
}

.row > .index > .icon-12 {
	position: absolute;
	top: 12px;
	left: 3px;
	opacity: 0.1;
	cursor: default;
}

.row.removable > .index > .icon {
	opacity: 0.3;
	cursor: pointer;
}

.row.removable > .index > .icon:hover {
	opacity: 1;
}

li.ui-state-disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

form {
	display: inline-block;
}

.currency > .close {
	text-transform: uppercase;
	color: red;
	font-size: 12px;
	font-weight: bold;
}
